.bgTop {
    background-color: #22dcfd;
}
.bgMid {
    background-color: #3a98bd;
}
.bgBottom {
    background-color: #5066e4;
}
fieldset {
    max-width: 700px;
}
ol {
    line-height: 200%;
}
ul {
    list-style-type: none;
    line-height: 150%;
}